<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [formGroup]="form">
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña" labelPlacement="floating" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-buttons>
          <ion-button (click)="login()">Login</ion-button>
          <ion-button (click)="register()">Register</ion-button>
        </ion-buttons>
      </ion-item>
  </ion-list>
</ion-content>
