<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [formGroup]="form">
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" labelPlacement="floating" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
    <ion-input label="Confimar contraseña" labelPlacement="floating" formControlName="confirmPassword"></ion-input>
  </ion-item>
    <ion-item>
      <ion-buttons>
        <ion-button (click)="register()">Register</ion-button>
        <ion-button (click)="login()">Login</ion-button>
      </ion-buttons>
    </ion-item>
</ion-list>
</ion-content>
