<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="user$ | async as user">{{user.email}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>BIenvenido a home</h1>
  <ion-button color="primary" fill="clear" (click)="logout()">Log out</ion-button>
</ion-content>
